<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JISPOS.My.MySettings.DBJISMasterPak01ConnectionString"
            connectionString="Data Source=.\admin;Initial Catalog=DBJISMasterPak01;User ID=sa;Password=abc"
            providerName="System.Data.SqlClient" />
        <add name="JISPOS.My.MySettings.JISDB_Private_abcComputerConnectionString"
            connectionString="Data Source=.\dbjis;Initial Catalog=JISDB_Private_abcComputer;User ID=sa;Password=abc"
            providerName="System.Data.SqlClient" />
        <add name="JISPOS.My.MySettings.MasterDBSportsConnectionString"
            connectionString="Data Source=.;Initial Catalog=MasterDBSports;User ID=sa;Password=abc"
            providerName="System.Data.SqlClient" />
        <add name="JISPOS.My.MySettings.JISDBMaster_NishaSports_NishaSportsConnectionString"
            connectionString="Data Source=.;Initial Catalog=JISDBMaster_NishaSports_NishaSports;User ID=sa;Password=abc"
            providerName="System.Data.SqlClient" />
        <add name="JISPOS.My.MySettings.JISDBMaster_NishaSportsConnectionString"
            connectionString="Data Source=.;Initial Catalog=JISDBMaster_NishaSports;User ID=SA;Password=abc"
            providerName="System.Data.SqlClient" />
        <add name="JISPOS.My.MySettings.JISDBMaster_MeenakshiFurniture_MeenakshiFurnitureConnectionString"
            connectionString="Data Source=.;Initial Catalog=JISDBMaster_MeenakshiFurniture_MeenakshiFurniture;User ID=sa;Password=abc"
            providerName="System.Data.SqlClient" />
        <add name="JISPOS.My.MySettings.MasterSteelKing_SteelKingConnectionString"
            connectionString="Data Source=.;Initial Catalog=MasterSteelKing_SteelKing;User ID=sa;Password=abc"
            providerName="System.Data.SqlClient" />
        <add name="JISPOS.My.MySettings.HariOmConnectionString" connectionString="Data Source=.;Initial Catalog=HariOm;User ID=sa;Password=abc"
            providerName="System.Data.SqlClient" />
        <add name="JISPOS.My.MySettings.HariOm_HariOMYarnAgencyConnectionString"
            connectionString="Data Source=.;Initial Catalog=HariOm_HariOMYarnAgency;User ID=sa;Password=abc"
            providerName="System.Data.SqlClient" />
        <add name="JISPOS.My.MySettings.DBHariOMConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DBHariOM.mdb"
            providerName="System.Data.OleDb" />
        <add name="JISPOS.My.MySettings.DBHariOM2015ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DBHariOM2015.mdb"
            providerName="System.Data.OleDb" />
        <add name="JISPOS.My.MySettings.DBHariOM2016ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DBHariOM2016.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
